@{
    ViewBag.Title = "Çözüm Ortaklarımız | YKA Elektrik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content detay">
    <div class="parallax-container">
        <div class="parallax banner">
            <img src="~/images2/banner1.png" alt="YKA ELEKTİRK HİZ. TİC. LTD. ŞTİ." />
        </div>
        <div class="detay-filter">
            <div class="detay-baslik">
                <h1>Çözüm Ortaklarımız</h1>
            </div>
        </div>
        <div class="banner-category">
            <ul>
                <li><a href="https://www.ykaelektrik.com.tr" title="YKA ELEKTİRK HİZ. TİC. LTD. ŞTİ.">Anasayfa<i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
                <li><a href="/cozum-ortaklarimiz" title="Çözüm Ortaklarımız"> Çözüm Ortaklarımız<i class='fas fa-chevron-right'></i></a></li>
            </ul>
        </div>
    </div>
    <div class="corporate">
        <div class="container">
            <div class="container">
                <div class="row referances">
                    <ul class="tabs">
                        <li class="tab s2"><a class="active" href="#test1">HEPSİ</a></li>
                        <li class="tab s2"><a href="#test2">ENERJİ KABLOLARI</a></li>
                        <li class="tab s2"><a href="#test3">ZAYIF AKIM KABLOLAR</a></li>
                        <li class="tab s2"><a href="#test4">ANAHTAR-PRİZ</a></li>
                        <li class="tab s2"><a href="#test5">ŞALT</a></li>
                        <li class="tab s2"><a href="#test6">AYDINLATMA</a></li>
                        <li class="tab s2"><a href="#test7">TOPRAKLAMA</a></li>
                        <li class="tab s2"><a href="#test8">PANO İ&Ccedil;İ ŞALT MALZEME</a></li>
                        <li class="tab s2"><a href="#test9">KABİNET</a></li>
                        <li class="tab s2"><a href="#test10">KABLO TAŞIMA SİSTEMİ</a></li>
                        <li class="tab s2"><a href="#test11">PLASTİK MALZEME</a></li>
                        <li class="tab s2"><a href="#test12">PANO GRUBU</a></li>
                        <li class="tab s2"><a href="#test13">SENS&Ouml;R</a></li>
                        <li class="tab s2"><a href="#test14">EL ALETLERİ</a></li>
                    </ul>
                </div>

                <div class="row referances" id="test1">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/cozum-ortaklarimiz_54094.png" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_23149.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_24826.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_59747.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_91429.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_42705.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_66785.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_96503.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_49417.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_45554.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_49600.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_52847.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_10323.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_38809.png" /></div>

 
                </div>

                <div class="row referances" id="test2">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_24826.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_23149.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_41376.png" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/cozum-ortaklarimiz_60553.png" /></div>
                </div>

                <div class="row referances" id="test3">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_24826.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_66785.webp" /></div>

                </div>

                <div class="row referances" id="test4">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/cozum-ortaklarimiz_59523.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_66785.webp" /></div>
                </div>

                <div class="row referances" id="test5">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_66785.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_10323.webp" /></div>

                </div>

                <div class="row referances" id="test6">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_89671.png" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_17444.png" /></div>

                </div>

                <div class="row referances" id="test7">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/cozum-ortaklarimiz_53295.png" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_8695.png" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_4424.png" /></div>
                </div>

                <div class="row referances" id="test8">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_52847.webp" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_91429.webp" /></div>

                </div>

                <div class="row referances" id="test9">
                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_42812.png" /></div>

                    <div class="col l2 m4 s12 logo1"><img class='lazy' alt="Yka Elektrik" src="https://www.ykaelektrik.com.tr/uploads/sayfa-resimleri/kurumsal_24826.webp" /></div>
                </div>

            </div>

        </div>
    </div>
</div>